<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>目前还是一位没有放弃治疗的程序员，学无止境以架构为使命。</p>
        <p>在这里我会分享工作中遇到的问题和踩过的坑，也会分享平时学习的过程和方式，</p>
        <p>随着阅历的积累我还会在这里分享我的生活。</p>
        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <!--<ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>Cnblogs：<a href="{{ site.cnblog_url }}">{{ site.cnblog_url }}</a></li>
            <li>我的微信：<strong>Major928065584</strong>（备注：博客）</li>
        </ul>
-->
        <p><strong>Group</strong></p>

       <h2>
         Note
       </h2>

       <h2>
         Donate
       </h2>

       <!--<p>
         如果我的文章帮助了你，可以赞赏我6.66元，请我吃个肉夹馍 :)
       </p>-->

       <p align="center">

      <!-- <img src="http://major818.github.io/assets/images/tip.jpg" />-->
       <br/>
            
        
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>
